process { withName: 'SHINYNGS_APP' { container = 'modules/nf-core/shinyngs/app/.conda-lock/linux_amd64-bd-19cca4636e20b0f7_1.txt' } }
process { withName: 'SHINYNGS_STATICDIFFERENTIAL' { container = 'modules/nf-core/shinyngs/staticdifferential/.conda-lock/linux_amd64-bd-19cca4636e20b0f7_1.txt' } }
process { withName: 'SHINYNGS_STATICEXPLORATORY' { container = 'modules/nf-core/shinyngs/staticexploratory/.conda-lock/linux_amd64-bd-19cca4636e20b0f7_1.txt' } }
process { withName: 'SHINYNGS_VALIDATEFOMCOMPONENTS' { container = 'modules/nf-core/shinyngs/validatefomcomponents/.conda-lock/linux_amd64-bd-19cca4636e20b0f7_1.txt' } }
