process { withName: 'SHINYNGS_APP' { container = 'community.wave.seqera.io/library/r-shinyngs:3.2.0--19cca4636e20b0f7' } }
process { withName: 'SHINYNGS_STATICDIFFERENTIAL' { container = 'community.wave.seqera.io/library/r-shinyngs:3.2.0--19cca4636e20b0f7' } }
process { withName: 'SHINYNGS_STATICEXPLORATORY' { container = 'community.wave.seqera.io/library/r-shinyngs:3.2.0--19cca4636e20b0f7' } }
process { withName: 'SHINYNGS_VALIDATEFOMCOMPONENTS' { container = 'community.wave.seqera.io/library/r-shinyngs:3.2.0--19cca4636e20b0f7' } }
