process { withName: 'SHINYNGS_APP' { container = 'oras://community.wave.seqera.io/library/r-shinyngs:3.2.0--537d87067431146d' } }
process { withName: 'SHINYNGS_STATICDIFFERENTIAL' { container = 'oras://community.wave.seqera.io/library/r-shinyngs:3.2.0--537d87067431146d' } }
process { withName: 'SHINYNGS_STATICEXPLORATORY' { container = 'oras://community.wave.seqera.io/library/r-shinyngs:3.2.0--537d87067431146d' } }
process { withName: 'SHINYNGS_VALIDATEFOMCOMPONENTS' { container = 'oras://community.wave.seqera.io/library/r-shinyngs:3.2.0--537d87067431146d' } }
