process { withName: 'SHINYNGS_APP' { container = 'oras://community.wave.seqera.io/library/r-shinyngs:3.2.0--c8c7c602b7ecaf69' } }
process { withName: 'SHINYNGS_STATICDIFFERENTIAL' { container = 'oras://community.wave.seqera.io/library/r-shinyngs:3.2.0--c8c7c602b7ecaf69' } }
process { withName: 'SHINYNGS_STATICEXPLORATORY' { container = 'oras://community.wave.seqera.io/library/r-shinyngs:3.2.0--c8c7c602b7ecaf69' } }
process { withName: 'SHINYNGS_VALIDATEFOMCOMPONENTS' { container = 'oras://community.wave.seqera.io/library/r-shinyngs:3.2.0--c8c7c602b7ecaf69' } }
