/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    DIA mass spectrometry proteomics analysis profile (default: Limma)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Sets parameters for a raw protein intensity matrix, e.g. a DIA-NN 'report.pg_matrix.tsv',
    which is log2-transformed and normalised between samples before differential abundance
    analysis with Limma.

    Use as follows:
        nextflow run nf-core/differentialabundance -profile mass_spec,<docker/singularity> --input <SAMPLESHEET> --matrix <MATRIX> --outdir <OUTDIR>
----------------------------------------------------------------------------------------
*/

params {
    paramset_name                   = 'mass_spec'

    // Study
    study_type                      = 'generic_matrix'
    study_abundance_type            = 'intensities'

    // Normalisation
    normalisation_method            = 'quantile'

    // Differential analysis (Limma)
    differential_method             = 'limma'
    limma_use_voom                  = false
    differential_file_suffix        = '.limma.results.tsv'

    // Features
    features_type                   = 'protein'
    features_id_col                 = 'Genes'
    features_name_col               = 'Genes'
    features_metadata_cols          = 'Genes'
    differential_feature_id_column  = 'Genes'

    // Filtering
    filtering_min_abundance         = false
    filtering_min_proportion_not_na = 0.5

    // Exploratory
    exploratory_assay_names         = 'raw,normalised'
    exploratory_final_assay         = 'normalised'
    exploratory_log2_assays         = 'raw'

    // Shiny app
    shinyngs_build_app              = false
}
